button {
    background-color: #FFFFFF;
    border: 1px solid black;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px; 
	cursor: pointer;
}

$disableDuration: 3s;
.cooldown{
	border: 1px solid black;
}

.cooldown:disabled{
    background: black;
	border: 1px solid black;
	width: 100px;
    cursor: default;
	animation: cooldown 3s linear;
}

@keyframes cooldown {
   0% { width: 100px; }
   100% { width: 0px; }
}

button:hover {
    background-color: #e7e7e7; 
}

button:active {
    background-color: #ececec; 
}

.column {
	float: left;
	width: 50%;
}

#textbox, #gacha-box, #pulls {
	width: 50%;
	min-height: 50px;
	margin-top: 10%;
	margin-left: 25%;
	border: 1px solid black;
	overflow: auto;
	padding: 15px;
	float: left;
}