body {
	background: white;
	font: 1em Times New Roman;
}

button {
    background-color: #FFFFFF;
    border: 1px solid black;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px; 
	cursor: pointer;
	margin: 10px;
	font-family: Times New Roman;
}

.cooldown{
  background: white;
  min-height: 48px;
  min-width: 144px;
  position: relative;
  padding: 0 15px;
  font-size: 16px;
  overflow: hidden;
  cursor: pointer;
}
  
.cooldown:disabled{
    background: white;
    cursor: default;
}

.cooldown:disabled:after{
      content: '';
      position: absolute;
      top: 0;
      width: 100%;
	  height: 100%;
      left: 0;
      background: black;
      animation: cooldown 2s linear;
}
	  
@keyframes cooldown {
   0% { width: 100%; }
   100% { width: 0; }
}

button:hover {
    background-color: #e7e7e7; 
}

button:active {
    background-color: #ececec; 
}

#textbox, #gacha-box, #pulls {
	width: 50%;
	margin-top: 10px;
	border: 1px solid black;
	overflow: auto;
	padding: 20px;
	padding-top: 0px;
	white-space: pre-line;
}

#gacha-box {
	max-height: 100px;
	overflow: hidden;
}

.tabcontent {
	display: none;
	padding-top: 20px;
}

#header {
	margin-top: 120px;
	width: 100%;
}

#introduction {
	width: 100%;
	height: 100vh;
	text-align: center;
	box-sizing: border-box;
	padding-top: 15px;
	display: block;
}

#statistics {
	width: 25%;
	padding: 10px;
	border: 1px solid black;
	border-top: none;
	border-right: none;
	top: 0;
	right: 0;
	position: absolute;
}

.box {
  width: 40%;
  margin: 0 auto;
  background: rgba(255,255,255,0.2);
  padding: 35px;
  border: 2px solid #fff;
  border-radius: 20px/50px;
  background-clip: padding-box;
  text-align: center;
}

.button {
  font-size: 1em;
  padding: 10px;
  color: #fff;
  border: 2px solid #06D85F;
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.button:hover {
  background: #06D85F;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 0 auto;
  margin-top: 25%;
  padding: 20px;
  background: #fff;
  width: 30%;
  position: relative;
  border: 1px solid black;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: lightgray;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}

#fade {
	background: black;
	color: white;
	width: 100%;
	height: 100vh;
	position: absolute;
	top: 0; left; 0;
	z-index: 99999999;
	animation: fadeIn ease 0.5s;
	-webkit-animation: fadeIn ease 0.5s;
	-moz-animation: fadeIn ease 0.5s;
	-o-animation: fadeIn ease 0.5s;
	-ms-animation: fadeIn ease 0.5s;
}
@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
}